[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

nose = "*"
Sphinx = "*"
"sphinx-autobuild" = "*"
"Flask-Sphinx-Themes" = "*"


[packages]

Flask = "*"
"bravado-core" = "*"
PyYAML = "*"